$blue-darkest: #011f4b;
$blue-dark: #005b96;
$blue: #0db2f2;
$blue-light: #c6edff;
$blue-lightest: #f1fafe;

$gray-darkest: #7e8299;
$gray-dark: #b3b3b3;
$gray: #cccccc;
$gray-light: #f3f6f9;

$teal-dark: #10a09a;
$teal-light: #1bc5bd;

$accent: #f6ca65;

$white: #ffffff;

